In [1]:
import pandas as pd

In [17]:
original_data = pd.read_csv("/Users/chenrong/Desktop/商超数据实战/超市零售数据.csv")

In [9]:
original_data.head(10)

   顾客ID  产品ID 产品名称  数量    价格        购买日期   总价
0    74    25   食品   9  99.0  2024-12-18  891
1   859    74   百货   1  93.0  2024-02-15   93
2   816    56   水果   8  29.0  2024-11-17  232
3    12    81   食品   3  34.0  2024-08-14  102
4    50    28   电器   6  45.0  2024-05-28  270
5   552    27   电器   4  71.0  2024-04-12  284
6   327    55   家具   5  89.0  2024-02-18  445
7   682    93   食品   1  83.0  2024-04-19   83
8   597    97   百货   4  24.0  2024-02-11   96
9   189     5   百货   6  79.0  2024-05-10  474

In [10]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   顾客ID    10000 non-null  int64
 1   产品ID    10000 non-null  int64
 2   产品名称    10000 non-null  object
 3   数量      10000 non-null  int64
 4   价格      9997 non-null   float64
 5   购买日期    10000 non-null  object
 6   总价      10000 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 547.0+ KB

In [11]:
original_data[original_data["价格"].isnull()]

     顾客ID  产品ID 产品名称  数量  价格        购买日期   总价
19    223    34   百货   9 NaN  2024-05-17  450
69    915     5   水果   8 NaN  2024-11-14  424
102   783    23   服装   5 NaN  2024-07-08  205

In [15]:
original_data[(original_data["价格"].isnull()) & (original_data["数量"] > 100)]

Empty DataFrame
Columns: [顾客ID, 产品ID, 产品名称, 数量, 价格, 购买日期, 总价]
Index: []

In [18]:
original_data["产品名称"].value_counts()

服装           1760
百货           1716
家具           1676
水果           1674
食品           1624
电器           1547
fruits          1
furniture       1
cloth           1
Name: 产品名称, dtype: int64

In [23]:
replace_dic = {"fruits":"水果",
              "furniture":"家具",
               "cloth":"服装"
              }
replace_data = original_data.replace(replace_dic)
replace_data["产品名称"].value_counts()

服装    1761
百货    1716
家具    1677
水果    1675
食品    1624
电器    1547
Name: 产品名称, dtype: int64

In [24]:
replace_data[replace_data["价格"].isnull()]

     顾客ID  产品ID 产品名称  数量  价格        购买日期   总价
19    223    34   百货   9 NaN  2024-05-17  450
69    915     5   水果   8 NaN  2024-11-14  424
102   783    23   服装   5 NaN  2024-07-08  205

In [27]:
cleaned_data = replace_data.dropna(subset = "价格")

In [31]:
cleaned_data["价格"].isnull().sum()

0

In [33]:
cleaned_data.to_csv("我学会数据处理啦啦啦.csv", index = False)